---
layout: default
---

<div class="container">
    <br><br>
    <h3>What is the Caribbean Genomics (CaGe) Initiative?</h3>
    <br>
    <div class="row">
        <div class="col-md-5">
            <br><br>
            <img src="{{ site.url }}/assets/img/CaGe_logo.png" alt="CaGe_logo" style="width:100%;max-width:400px;text-align:center">
        </div>
        <div class="col-md-7">
            <br><br><br><br><br>
            <p>CaGe is an international, multi-institutional collaboration founded in March 2020 by alumni and current professors/students of the Department
                of Marine Sciences at the UPR-Mayaguez with the goal of creating genomic and morphological resources for Caribbean species.
            <br><br>
            We seek to increase accessibility to the genomics world, especially for investigators beginning to work with genomic data. CaGe will accomplish
            this goal through the creation and sharing of educational materials and tutorials for sequence data processing and analysis and hosting workshops
            open to whoever is interested.<br>
            </p>
            <br>
        </div>
    </div>
    <br><br>
</div>

<div class="lgray">
    <div class="container">
            <br><br>
            <h3>Affiliations</h3>
            <br>
            <div class="row">
                <div>
                    <br>
                    <p>CaGe consist of a group of researchers from different countries and institutions.</p>
                    <div class="text-left">
                        <br>
                        <li>University of Puerto Rico at Mayagüez</li>
                        <li>Ludwig-Maximilians-Universität München (Munich, Germany)</li>
                        <li>Universidade Estadual de montes Claros, Campus Universitário Professor Darcy Ribeiro Brazil</li>
                        <li>Rice University</li>
                        <br>
                    </div>
                </div>
            </div>
            <br>
    </div>

    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-2">
                <img align=“middle” src="{{ site.url }}/assets/img/UPRM.png" alt="UPRM Logo" style="width:100%;max-width:400px">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                <img src="{{ site.url }}/assets/img/LMU_Muenchen_Logo.png" alt="LMU Logo" style="width:100%;max-width:400px">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                <img src="{{ site.url }}/assets/img/Unimontes.jpg" alt="Unimontes Logo" style="width:90%;max-width:400px">
            </div>
        </div>
        <div class="row">
            <br><br><br>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img src="{{ site.url }}/assets/img/Rice_Logo.png" alt="RICE Logo" style="width:90%;max-width:400px">
            </div>
            <div class="col-md-3">
                <img src="{{ site.url }}/assets/img/CIMA.png" alt="CIMA Logo" style="width:90%;max-width:400px">
            </div>
            <div class="col-md-3">
                <img src="{{ site.url }}/assets/img/molpaleo.png" alt="MolPaleo Logo" style="width:100%;max-width:400px">
            </div>
        </div>
    </div>
    <br><br>
</div>
