---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            {{ content }}
            <br>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Alex J. Veglia, M.Sc.</b> - Ph.D. Student at RICE</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>I am a current PhD student in the Correa Lab at Rice University. I recently completed my Masters at the University of Puerto Rico-Mayagüez in Dr. Nikolaos Schizas’ Lab where I investigated cyanophage inhabiting coral reef invertebrates. In my PhD, I look to expand my virus research efforts by investigating viral roles in coral health, functioning and evolution. Specifically, I want to identify and isolate candidate disease-inducing bacterial and eukaryotic viruses from coral tissue. The motivation of this work is to facilitate comprehensive phenotypic and genotypic characterization of coral viruses to advance our current understanding of viral roles in coral reef disease.
                        </p>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-11">
                                <a href="https://scholar.google.com/citations?hl=en&user=gBxkBD8AAAAJ" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-graduation-cap" aria-hidden="true" style="vertical-align: middle"></i> Google Scholar
                                </a>
                                <a href="www.alexjveglia.com" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-id-card-o fa-lg" aria-hidden="true" style="vertical-align: middle"></i> Website
                                </a>
                                <a href="mailto:ajv5@rice.edu" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-envelope-o" aria-hidden="true" style="vertical-align: middle"></i> Email
                                </a>
                                <a href="https://twitter.com/alex_veglia" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-twitter" aria-hidden="true" style="vertical-align: middle"></i> Twitter
                                </a>
                                <a href="https://github.com/Aveglia" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-github" aria-hidden="true" style="vertical-align: middle"></i> GitHub
                                </a>
                                <a href="https://instagram.com/a_veglia" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-instagram" aria-hidden="true" style="vertical-align: middle"></i> Instagram
                                </a>
                                <a href="" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-linkedin-square" aria-hidden="true" style="vertical-align: middle"></i> LinkedIn
                                </a>
                                <a href="https://www.researchgate.net/profile/Alex_Veglia" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-user" aria-hidden="true" style="vertical-align: middle"></i> Research Gate
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.url }}/assets/img/takis_sponsorme.jpg" alt="Alex_Veglia" style="width:100%;max-width:200px">
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Paulo Henrique Costa Corgosinho, Ph.D.</b> - Prof. Dep. Biologia Geral</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>I am a marine and freshwater biologist with with MSc degree in Zoology and a PhD degree in Freshwater Biology. With 20 years of experience in Brazil and abroad, I have developed my studies in tropical and temperate freshwater and marine environments, from groundwater, surface water to deep sea ecosystems. With more than 30 academic publications, I have expertise in biodiversity and use of marine and freshwater invertebrates as bioindicators of water quality and environmental integrity. Since May 2019, I am professor of Invertebrate Zoology at the State University of Minas Gerais.
                        </p>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-11">
                                <a href="https://scholar.google.com/citations?user=W0czEnEAAAAJ&hl=en" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-graduation-cap" aria-hidden="true" style="vertical-align: middle"></i> Google Scholar
                                </a>
                                <a href="https://unimontes.academia.edu/PauloHenriqueCorgosinho" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-id-card-o fa-lg" aria-hidden="true" style="vertical-align: middle"></i> Website
                                </a>
                                <a href="mailto:pcorgo@gmail.com" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-envelope-o" aria-hidden="true" style="vertical-align: middle"></i> Email
                                </a>
                                <a href="https://twitter.com/pcorgo" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-twitter" aria-hidden="true" style="vertical-align: middle"></i> Twitter
                                </a>
                                <a href="https://www.linkedin.com/in/waterquality/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-linkedin-square" aria-hidden="true" style="vertical-align: middle"></i> LinkedIn
                                </a>
                                <a href="https://www.researchgate.net/profile/Paulo_Henrique_Corgosinho/research" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-user" aria-hidden="true" style="vertical-align: middle"></i> Research Gate
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.url }}/assets/img/paulo.jpeg" alt="Paulo_Corgosinho" style="width:100%;max-width:150px">
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Ramón E. Rivera-Vicéns, M.Sc.</b> - Ph.D. Student at LMU</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>I am a Marie Skłodowska-Curie fellow within the European network ITN-IGNITE and work in the Molecular Geobiology and
                            Paleobiology Lab at Ludwig-Maximilians-Universität Munich under the supervision of Prof. Dr. Gert Wörheide. For my project,
                            I use genomics and bioinformatics to study the sponge holobiont system. I have an M.Sc. in Biological Oceanography from the University of
                            Puerto Rico at Mayagüez.
                        </p>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-11">
                                <a href="https://scholar.google.com/citations?user=fH-cnO0AAAAJ&hl" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-graduation-cap" aria-hidden="true" style="vertical-align: middle"></i> Google Scholar
                                </a>
                                <a href="http://www.itn-ignite.eu/projects/11858_ramon-rivera/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-id-card-o fa-lg" aria-hidden="true" style="vertical-align: middle"></i> Website
                                </a>
                                <a href="mailto:r.rivera@lrz.uni-muenchen.de" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-envelope-o" aria-hidden="true" style="vertical-align: middle"></i> Email
                                </a>
                                <a href="https://twitter.com/RERV787" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-twitter" aria-hidden="true" style="vertical-align: middle"></i> Twitter
                                </a>
                                <a href="https://github.com/rivera10" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-github" aria-hidden="true" style="vertical-align: middle"></i> GitHub
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.url }}/assets/img/rerv.jpg" alt="Ramon_Rivera" style="width:100%;max-width:200px">
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Nikolaos Schizas, Ph.D.</b> - Prof. University of Puerto Rico at Mayagüez</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Nikolaos Schizas is a Professor of Invertebrate Biology at the Department of Marine Sciences, University of Puerto Rico at Mayagüez. His laboratory is based on Magueyes Island surrounded by mangrove,
                            seagrass and coral reef habitats. He is leading a bustling lab dedicated to graduate and undergraduate research emphasizing individual and group projects. His currently funded research includes the biodiversity,
                            connectivity and effects of major climatic and environmental disturbances on Caribbean nearshore and mesophotic reefs. Other ongoing projects include the biodiversity of Caribbean benthic and pelagic taxa using metabarcoding methods,
                            the detection of grouper aggregations through eDNA techniques, microbiome diversty of mesophotic coral reef communities and the evolution of copepods. Since 2010, Schizas has participated in 4 scientific cruises studying the mesophotic reefs of US Caribbean and Bermuda.
                        </p>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-11">
                                <a href="https://scholar.google.com/citations?user=e4a8JToAAAAJ&hl" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-graduation-cap" aria-hidden="true" style="vertical-align: middle"></i> Google Scholar
                                </a>
                                <a href="http://www.schizaslab.com/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-id-card-o fa-lg" aria-hidden="true" style="vertical-align: middle"></i> Website
                                </a>
                                <a href="mailto:nikolaos.schizas@upr.edu" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-envelope-o" aria-hidden="true" style="vertical-align: middle"></i> Email
                                </a>
                                <a href="https://doi.org/10.1007/s00338-021-02056-3" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-linkedin-square" aria-hidden="true" style="vertical-align: middle"></i> LinkedIn
                                </a>
                                <a href="https://www.researchgate.net/profile/Nikolaos_Schizas" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-user" aria-hidden="true" style="vertical-align: middle"></i> Research Gate
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.url }}/assets/img/schizas.jpg" alt="Nikolaos_Schizas" style="width:100%;max-width:200px">
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Jaaziel E García-Hernández, M.Sc.</b> - Ph.D. at UPRM</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>I am a PhD student and scientific technical diver (AAUS) in Dr. Schizas laboratory where I focus in studying the biodiversity of Caribbean coral reefs, with emphasis on marine sponges and corals inhabiting sciophilous environments
                            (i.e., caves, caverns, overhangs, coral rubble) within shallow and mesophotic ecosystems. I am also interested in ecological interactions between sponges and other marine organisms (i.e., corals, ascidians,
                            fish, and zoantharians), as well as understanding the evolutionary history (biogeography, systematics, speciation, and morphological evolution) and ecology of calcareous sponges within tropical and sub-tropical
                            coral reef ecosystems.
                        </p>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-11">
                                <a href="https://scholar.google.com.pr/citations?user=5oidk1gAAAAJ&" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-graduation-cap" aria-hidden="true" style="vertical-align: middle"></i> Google Scholar
                                </a>
                                <a href="http://jaazielgarciahernandez.com" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-id-card-o fa-lg" aria-hidden="true" style="vertical-align: middle"></i> Website
                                </a>
                                <a href="mailto:jaaziel.garcia@upr.edu" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-envelope-o" aria-hidden="true" style="vertical-align: middle"></i> Email
                                </a>
                                <a href="https://twitter.com/uw_explorer" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-twitter" aria-hidden="true" style="vertical-align: middle"></i> Twitter
                                </a>
                                <a href="https://instagram.com/underwaterexplorer" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-instagram" aria-hidden="true" style="vertical-align: middle"></i> Instagram
                                </a>
                                <a href="https://www.researchgate.net/profile/Jaaziel_Garcia-Hernandez" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-user" aria-hidden="true" style="vertical-align: middle"></i> Research Gate
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.url }}/assets/img/jaazi.jpg" alt="Jaaziel_Garcia" style="width:100%;max-width:250px">
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Alejandro J. Gonzalez Montes</b> - M.Sc. Student at UPRM</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Alejandro is a master student working with Dr. Schizas at the Marine Genomics Biodiverity Lab at UPRM. He works on various species of
                            corals from the Caribbean. He studies the connectivity between shallow and mesophotic corals and their microbiomes.
                        </p>
                        <!--
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-11">
                                <a href="https://scholar.google.com/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-graduation-cap" aria-hidden="true" style="vertical-align: middle"></i> Google Scholar
                                </a>
                                <a href="" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-id-card-o fa-lg" aria-hidden="true" style="vertical-align: middle"></i> Website
                                </a>
                                <a href="mailto:alejandro.gonzalez4@upr.edu" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-envelope-o" aria-hidden="true" style="vertical-align: middle"></i> Email
                                </a>
                                <a href="https://twitter.com/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-twitter" aria-hidden="true" style="vertical-align: middle"></i> Twitter
                                </a>
                                <a href="https://github.com/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-github" aria-hidden="true" style="vertical-align: middle"></i> GitHub
                                </a>
                                <a href="https://instagram.com/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-instagram" aria-hidden="true" style="vertical-align: middle"></i> Instagram
                                </a>
                                <a href="" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-linkedin-square" aria-hidden="true" style="vertical-align: middle"></i> LinkedIn
                                </a>
                                <a href="https://www.researchgate.net/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-user" aria-hidden="true" style="vertical-align: middle"></i> Research Gate
                                </a>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.url }}/assets/img/" alt="Alejando_Gonzalez" style="width:100%;max-width:200px">
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Jean P. Domenech Ramos</b> - M.Sc. Student at UPRM</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Jean P is a master student working with Dr. Schizas at the Marine Genomics Biodiverity Lab at UPRM. He works on population
                            connectivity of <i>Cletocamptus</i> copepods in Puerto Rico.
                        </p>
                        <!--
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-11">
                                <a href="https://scholar.google.com/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-graduation-cap" aria-hidden="true" style="vertical-align: middle"></i> Google Scholar
                                </a>
                                <a href="" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-id-card-o fa-lg" aria-hidden="true" style="vertical-align: middle"></i> Website
                                </a>
                                <a href="mailto:jean.domenech2@upr.edu " class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-envelope-o" aria-hidden="true" style="vertical-align: middle"></i> Email
                                </a>
                                <a href="https://twitter.com/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-twitter" aria-hidden="true" style="vertical-align: middle"></i> Twitter
                                </a>
                                <a href="https://github.com/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-github" aria-hidden="true" style="vertical-align: middle"></i> GitHub
                                </a>
                                <a href="https://instagram.com/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-instagram" aria-hidden="true" style="vertical-align: middle"></i> Instagram
                                </a>
                                <a href="" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-linkedin-square" aria-hidden="true" style="vertical-align: middle"></i> LinkedIn
                                </a>
                                <a href="https://www.researchgate.net/" class="btn btn-link btn-sm" role="button" target="\_blank" rel="noopener noreferrer">
                                    <i class="fa fa-user" aria-hidden="true" style="vertical-align: middle"></i> Research Gate
                                </a>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.url }}/assets/img/jeanp.jpg" alt="Jean_Domenech" style="width:100%;max-width:200px">
                    </div>
                </div>
            </div>

            <br><br>

        </div>
    </div>
</div>
