---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <br>
            <br>
            <br>
            <img src="{{ site.url }}/assets/img/Nicola_tetela.jpg" alt="Nicola_tetela" style="width:100%;max-width:400px">
            <br>
            <p>Sponge <i>Nicola tetela</i></p>
        </div>
        <div class="col-md-9">
            <!-- <h1>{{ page.title }}</h1>-->
            {{ content }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <img src="{{ site.url }}/assets/img/Clathrina_lutea.jpg" alt="Clathrina_lutea" style="width:100%;max-width:400px">
            <br>
            <p>Sponge <i>Clathrina lutea</i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <img src="{{ site.url }}/assets/img/Longipedia_americana_m.png" alt="Longipedia_americana" style="width:100%;max-width:400px">
            <br>
            <p>Copepod <i>Longipedia americana</i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <img src="{{ site.url }}/assets/img/Cletocamptus_dominicanus_f.png" alt="Cletocamptus_dominicanus" style="width:100%;max-width:400px">
            <br>
            <p>Copepod <i>Cletocamptus dominicanus</i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <img src="{{ site.url }}/assets/img/Metis_holothuriae_f.png" alt="Metis_holothuriae" style="width:100%;max-width:400px">
            <br>
            <p>Copepod <i>Metis holothuriae</i></p>
        </div>
    </div>
</div>
