---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center"></div>
        <div class="col-md-9">
            <!-- <h1>{{ page.title }}</h1>-->
            {{ content }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/sponges"><h3>Sponges</h3></a>
        </div>
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/sponges/clutea" class="hover-opacity">
                <img src="{{ site.url }}/assets/img/Clathrina_lutea.jpg" alt="Clathrina_lutea" style="width:100%;max-width:400px">
                <br>
                <p><i>Clathrina lutea</i></p>
            </a>
        </div>
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/sponges/ntetela" class="hover-opacity">
                <img src="{{ site.url }}/assets/img/Nicola_tetela.jpg" alt="Nicola_tetela" style="width:100%;max-width:400px">
                <br>
                <p><i>Nicola tetela</i></p>
            </a>
        </div>
    </div>

    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/copepods"><h3>Copepods</h3></a>
        </div>
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/copepods/lamericana" class="hover-opacity">
                <img src="{{ site.url }}/assets/img/Longipedia_americana_m.png" alt="Longipedia_americana" style="width:100%;max-width:400px">
                <br>
                <p><i>Longipedia americana</i></p>
            </a>
        </div>
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/copepods/cdominicanus" class="hover-opacity">
                <img src="{{ site.url }}/assets/img/Cletocamptus_dominicanus_f.png" alt="Cletocamptus_dominicanus" style="width:100%;max-width:400px">
                <br>
                <p><i>Cletocamptus dominicanus</i></p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center"></div>
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/copepods/mholothuriae" class="hover-opacity">
                <img src="{{ site.url }}/assets/img/Metis_holothuriae_f.png" alt="Metis_holothuriae" style="width:100%;max-width:400px">
                <br>
                <p><i>Metis holothuriae</i></p>
            </a>
        </div>
    </div>

    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/corals"><h3>Corals</h3></a>
        </div>
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/corals/alamarcki" class="hover-opacity">
                <img src="{{ site.url }}/assets/img/Agaricia_lamarcki_ham.jpg" alt="Agaricia_lamarcki" style="width:100%;max-width:400px">
                <br>
                <p><i>Agaricia lamarcki</i></p>
            </a>
        </div>
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/corals/malcicornis" class="hover-opacity">
                <img src="{{ site.url }}/assets/img/Millepora_alcicornis.png" alt="Millepora_alcicornis" style="width:100%;max-width:400px">
                <br>
                <p><i>Millepora alcicornis</i></p>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center"></div>
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/corals/briareum" class="hover-opacity">
                <img src="{{ site.url }}/assets/img/Briareum_spp.jpg" alt="Briareum_spp" style="width:100%;max-width:400px">
                <br>
                <p><i>Briareum asbestinum</i></p>
            </a>
        </div>
    </div>

    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    <div class="row">
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/nudibranchs"><h3>Nudibranchs</h3></a>
        </div>
        <div class="col-md-3" style="display:table-cell; vertical-align:middle; text-align:center">
            <a href="{{ site.url }}/docs/nudibranchs/dparguerensis" class="hover-opacity">
                <img src="{{ site.url }}/assets/img/Dondice_parguerensis.jpg" alt="Dondice_parguerensis" style="width:100%;max-width:400px">
                <br>
                <p><i>Dondice parguerensis</i></p>
            </a>
        </div>
    </div>

</div>
